body {
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.index-container {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
.title {
  height: 38%;
  margin-right: 27%;
  display: flex;
  flex-direction: column-reverse;
}
.names {
  height: 33%;
  display: flex;
  flex-direction: column-reverse;
}
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 43px;
  color: #565454;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 27px;
  color: #353333;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #000000;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #080808;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}
.myButton:hover {
  background-color: #cfcfcf;
}

.inputGroup:active {
  background-color: #e7b4ccda;
}

@media screen and (max-width: 800px) {
  body {
    background-position: 30%, 75%;
  }
  .myButton {
    font-size: 2rem;
  }
}
