.caja {
  text-decoration: none;
  padding: 15px;
  font-weight: 400px;
  font-size: 20px;
  color: #666565;
  background-color: #e7b4ccda;
  border-radius: 27px;
  border: 2px solid #828282;
  float: none;
  text-align: center;
  margin: 25px;
  width: auto;
  height: 75px;
}

.box {
  text-decoration: none;
  padding: 15px;
  font-weight: 400px;
  font-size: 20px;
  color: #020202;
  background-color: #cfcfcf;
  border-radius: 27px;
  border: 2px solid #828282;
  float: none;
  text-align: center;
  margin: 25px;
  width: auto;
  height: 25px;
}

.timide {
  display: none;
  padding: 5px 0;
  animation: heartBeat;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 5;
}

.sociable {
  display: none;
  padding: 5px 0;
  animation: heartBeat;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 5;
}

#responder {
  display: none;
}
