@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    font-size: 0.8em;
  }
  sidebar {
    display: none;
  }
}
body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  font-family: "Exo 2", sans-serif;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #000000;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #080808;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}
.myButton:hover {
  background-color: #cfcfcf;
}
/* .myButton:active {
	position: absolute;
	top:1px;
} */
.inputGroup:active {
  background-color: #e7b4ccda;
}
