body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}
.caja {
  text-decoration: none;
  padding: 15px;
  font-weight: 400px;
  font-size: 20px;
  color: #666565;
  background-color: #e7b4ccda;
  border-radius: 27px;
  border: 2px solid #828282;
  float: none;
  text-align: center;
  margin: 25px;
  width: auto;
  height: 75px;
}

.box {
  text-decoration: none;
  padding: 15px;
  font-weight: 400px;
  font-size: 20px;
  color: #020202;
  background-color: #cfcfcf;
  border-radius: 27px;
  border: 2px solid #828282;
  float: none;
  text-align: center;
  margin: 25px;
  width: auto;
  height: 25px;
}

.timide {
  display: none;
}

.sociable {
  display: none;
}

#responder {
  display: none;
}

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
  padding: 5px;
  width: 350px;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width 0.4s ease-in-out;
  background-color: #ccc;
}
.inicio {
  width: 0%;
}

.final {
  width: 100%;
}

.animacion {
  transition: all 2s linear 0.5s;
}
